%div.jumbotron
	%div.container
		- welcome = [:Bienvenue, '\'Sup', :Yo, :Hi, :Howdy, :Ciao, :Hello, 'Why, hello there', 'Well hello!', 'How\'s it going?', :Salutations, 'Greetings', 'Look what the cat dragged in...', 'Hiya!', 'Bonjour', 'Hallo', 'Get out of my house', '\'Sup playas', 'Thug life', 'Wag\'wan', 'Winner winner chicken dinner', 'Hellooo (is it me you\'re looking for?', 'Groovy baby'].sample
		%h1= welcome
		%p Drillbit CMS is a custom developed blog management console devised for the sole purpose of <strong>world domination</strong>