/*
*= require bubbletip/bubbletip
*/

@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

.post_form {
	width:800px;
	margin:100px auto 10px auto;
}

#post-title {
	font-family: "Source Sans Pro";
	font-size: 36px;
	font-weight: 500;
	height:60px;
}

.field {
	margin-top:20px;
}

.submit-form {
	margin-top:20px;
}

#blog-content {
	border:2px dashed #ccc;
	padding:20px;
	font-family: "Source Sans Pro";
	
	h1, h2, h3, h4, h5, p, span{
		font-family: "Source Sans Pro";
		
		border:1px solid #e3e3e3;
	}
	
}

#banner-content{
	text-align: center;
	
	img {
		width:400px;
	}
}

.imgWrap {
	display:block;
	margin:20px 0px;
	text-align:center;
}

.videoWrapInner {
	border: 1px solid #444;
	display:block;
	height:200px;
	width:300px;
	margin:0 auto;
}

.imgWrap img{
	margin:0 auto;
}

.imgWrapInner {
	display:block;
	margin:0 auto;
}

#textUploadIframe {
	display:none;
}

.videoWrap {
	margin:20px 0px;
	text-align:center;
}

.delete-block {
	float:right;
	cursor:pointer;
	display:block;
	padding:5px;
	font-size:.7em;
	color:#999;
	
	&:hover {
		color:#333;
	}
}